body{
    background-color:#00ff00;
}

.one{
    padding: 10px;
    text-align: center;
    background-color: gray;
}
.col2{
    color: honeydew;
    border-bottom: 2px  solid darkgray;
}
.col3{
    color: honeydew;
    border-bottom: 2px  solid darkgray;
}
.col4{
    color: honeydew;
    border-bottom: 2px  solid darkgray;
}
.col5{
    color: honeydew;
    border-bottom: 2px  solid darkgray;
}
.col6{
    color: honeydew;
    border-bottom: 2px  solid darkgray;
}
.col7{
    color: honeydew;
    border-bottom: 2px  solid darkgray;
}
a{
    text-decoration: none;
    color: honeydew;
}

.col3:hover{
cursor: pointer;
background-color: darkgray;
}
.col4:hover{
cursor: pointer;  
background-color: darkgray;  
}
.col5:hover{
cursor: pointer;
background-color: darkgray;
}
.col6:hover{
cursor: pointer;
background-color: darkgray;
}
.col7:hover{
cursor: pointer;
background-color: darkgray;
}
.col9{
text-align: center;
}

.get{
    text-align: center;
}
.col10{
    border: 2px solid black;
    margin-top: -100px;
    margin-bottom: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-style: italic;
    background-color:#00ff00 ;
}
.three{
    text-align: center;
    margin-bottom: 30px;
}
.progress{
    margin-bottom: 10px;
}
.five{
    text-align: center;
    margin-top: 30px;
}
.col11{
    padding: 40px;
    background-color: #FFE77AFF;
}
.row2{
    background-color: #FFE77AFF;
    text-align: center;
    padding: 10px 10px 30px 10px;
}
button{
    background-color: rgb(15, 178, 219);
}
.six {
    text-align: center;
    background-color: #2C5F2DFF;
}
.col13{
    margin-bottom: 10px;
}
.col14{
    margin-bottom: 10px;
}
.col15{
    margin-bottom: 10px;
}
.col16{
    margin-bottom: 10px;
}
.col17{
    text-align:center ;
}
.col18{
    margin-top: 8px;
}

.col19 img{
    border: 5px solid #6DAC4FFF;
    padding:2px;
    margin-right: 10px;
}
.col20 img{
    border: 5px solid #6DAC4FFF;
    padding:2px;
    margin-left: -20px;
}
.col21 img{
    border: 5px solid #6DAC4FFF;
    padding:2px;
    margin-left: -40px;
}
.col22 img{
    border: 5px solid #6DAC4FFF;
    padding:2px;
    margin-left: -40px;
}
.col23 i{
margin-bottom: 20px;
border: 2px solid #97BC62FF;
padding:5px ;
background-color:black ;
}
.col24 i{
margin-bottom: 20px;
border: 2px solid #97BC62FF;
padding:5px ;
background-color:black ;
}
.col25 i{
margin-bottom: 20px;
border: 2px solid #97BC62FF;
padding:5px ;
background-color:black ;
}
.col26 i{
margin-bottom: 20px;
border: 2px solid #97BC62FF;
padding:5px ;
background-color:black ;
}
.col30{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin-bottom: 10px;
}
.col30 h4{
    border: 2px solid black;
    background-color:#97BC62FF ;
}
.seven{
    text-align: center;
}
.col27{
    margin-top: 40px;
}
.col28{
    margin-top: 20px;
}
.eight{
    margin-bottom: 40px;
}
.col31{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.card1{
    width: 300px;
}
.card2{
    width: 300px;
}
.card3{
    width: 300px;
}
.nine{
    margin-bottom: 40px;
}
.card4{
    width: 300px;
}
.card5{
    width: 300px;
}
.card6{
    width: 300px;
}
.col32{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.card7{
    width: 300px;
}
.card8{
    width: 300px;
}
.card9{
    width: 300px;
}
.col33{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.eleven{
    text-align: center;
    margin-top: 40px;
}
.tewel{
    text-align: center;
    margin-top: -700px;
}
#sub{
    background-color: chartreuse;
} 
.col34{
    margin-bottom: 50px;
}
.col35{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.col36{
    border: 2px solid black;
    width: 200px;
    background-color: beige;
}
.col36 h5{
    color: crimson;
}